@import '../../node_modules/modern-normalize/modern-normalize';

@import 'utils/variables';
@import 'components/type';

main{
    background-image: url(../assets/images/rain_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}